@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Montserrat", serif;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url('bg.jpg');
    background-size:cover;
    position: relative;
    background-repeat: no-repeat;
    margin: 0;
    width: 100%;
}

.container {
    text-align: center;
    background: rgba(255, 255, 255, 0.2);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    width: 90%;
    max-width: 400px;
    animation: fadeIn 1s ease-in-out;
}
h1 {
    margin-bottom: 20px;
    font-size: 45px;
}
form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
input {
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    transition: 0.3s;
}
input:focus {
    outline: none;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}
button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: #C8AAAA;
    color: white;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}
button:hover {
    background: #FFDAB3;
    color: #09122C;
}
.weather {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    animation: slideIn .5s ease-in;
    backdrop-filter: blur(5px);
}

.weather .left, .weather .right {
    flex: 1;
}
.right img {
    animation: bounce 2s infinite;
}
@keyframes fadeIn {
    from { opacity: 0; transform: translateY(-20px); }
    to { opacity: 1; transform: translateY(0); }
}
@keyframes slideIn {
    from { opacity: 0; transform: translateX(-50px); }
    to { opacity: 1; transform: translateX(0); }
}
@keyframes bounce {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
}